.reportcontainer {
  margin-top: 50px;
  max-width: 800px;
  margin-left:auto;
  margin-right:auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.reportcontainer h2 {
  text-align: center;
}

.reportheader {
  margin-bottom: 20px;
  padding: 10px;
  background: #007bff;
  color: white;
  border-radius: 5px;
}
.reportcontainer table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.reportcontainer th, .reportcontainer td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.reportcontainer th {
  background: #007bff;
  color: white;
}
.reportcontainer tr:nth-child(even) {
  background: #f9f9f9;
}

.greenCell {
  background-color: #64c48c;
}

.redCell {
  background-color: #f16d6d;
}


@media print {
  .printable {
    display: block !important;
  }
}